
#entity-label {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, .55);
  position: absolute;
  box-sizing: border-box;
  top: calc(145px);
  width: calc(256px - 1px);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: calc(25px - 14px);
  padding-bottom: calc(15px - 6px);
}

.entity-page {
  overflow: auto;
  display: flex;
  flex: 1;
  position: relative;
  background-color: #f4f4f4;
}


.channel-dashboard-0 {

  display: flex;
  justify-content: flex-end;
  padding: 24px 24px 0 0;
  min-height: calc(100% - calc(168px + 24px));
  min-width: 952px;
  max-width: 1848px;
  box-sizing: border-box;

  .channel-dashboard {
    flex: none;
    margin-left: 24px;
    width: calc(100% / 3 - 24px);
  }
}



.user-input-data {
  border-radius: 2px;
  margin-bottom: 24px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, .12);
  z-index: 10;

  header, form {
    padding: 5px 10px;
  }

  hr {
    padding: 0;
  }
}